@tailwind base;
@tailwind components;
@tailwind utilities;
.ReactCollapse--collapse {
  transition: height 500ms;
}
@layer base {
  /* Poppins Font Family */
  @font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./src/assets/font/Poppins-Regular.woff2');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./src/assets/font/Poppins-Bold.woff2');
  }
  @font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./src/assets/font/Poppins-SemiBold.woff2');
  }

  /* YekanBakhFaNum Font Family */
  @font-face {
    font-family: 'YekanBakhFaNum-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./src/assets/font/YekanBakhFaNum-Regular.woff2');
  }
  @font-face {
    font-family: 'YekanBakhFaNum-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./src/assets/font/YekanBakhFaNum-Bold.woff2');
  }
  @font-face {
    font-family: 'YekanBakhFaNum-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./src/assets/font/YekanBakhFaNum-SemiBold.woff2');
  }
}
@layer components {
  .Container {
    @apply px-5 w-full max-w-[450px];
  }

  .CardBase {
    @apply p-4 rounded-3xl gap-3 bg-white/40 dark:bg-neutral-dark-300/40 shadow-custom  border border-white dark:border-neutral-dark-300;
  }
  /* Primary */
  .Fill-Primary {
    @apply bg-primary-500 hover:bg-primary-400 border-2 border-transparent;
  }
  .Tonal-Primary {
    @apply bg-primary-200 dark:bg-primary-dark-200 hover:bg-primary-100 dark:hover:bg-primary-dark-100 border-2 border-transparent;
  }
  .Outline-Primary {
    @apply bg-transparent border border-primary-500 hover:border-primary-400;
  }
  .TextButton-Primary {
    @apply bg-transparent border border-transparent;
  }

  /* Black */
  .Fill-Black {
    @apply bg-neutral-900  hover:bg-neutral-800 dark:bg-neutral-dark-900 hover:dark:bg-neutral-dark-800 border-2 border-transparent;
  }
  .Fill-Supportive1-Yellow {
    @apply bg-supportive1-500  hover:bg-supportive1-400  hover:dark:bg-supportive1-dark-400 border-2 border-transparent;
  }
  .Fill-Supportive5-Blue {
    @apply bg-supportive5-500  hover:bg-supportive5-400  hover:dark:bg-supportive5-dark-400 border-2 border-transparent;
  }
  .Tonal-Black {
    @apply bg-neutral-200  hover:bg-neutral-100 dark:bg-neutral-dark-200 hover:dark:bg-neutral-dark-100 border-2 border-transparent;
  }
  .Outline-Black {
    @apply bg-transparent border border-neutral-900 dark:border-neutral-dark-900 hover:border-neutral-800 hover:dark:border-neutral-dark-800;
  }
  .TextButton-Black {
    @apply bg-transparent border border-transparent;
  }

  /* Success */
  .Fill-Success {
    @apply bg-success-500 hover:bg-success-400 border-2 border-transparent text-text-button dark:text-text-button-dark;
  }
  .Tonal-Success {
    @apply bg-success-100 dark:bg-success-dark-100 hover:bg-success-50 dark:hover:bg-success-dark-50 border-2 border-transparent;
  }
  .Outline-Success {
    @apply bg-transparent border border-success-500 hover:border-success-400;
  }
  .TextButton-Success {
    @apply bg-transparent border border-transparent;
  }
  .BaseServiceCard {
    @apply dark:bg-neutral-dark-300/50 bg-neutral-0/50  w-full  p-4 rounded-3xl  border border-neutral-0 dark:border-neutral-dark-400/50;
  }

  .Outline-Supportive5-Blue {
    @apply bg-transparent border border-supportive5-500 hover:border-supportive5-400;
  }
}

@layer utilities {
  /* Typography */
  .title1 {
    @apply font-semibold  leading-[2rem] text-[1.5rem] lg:leading-[2.5rem] lg:text-[2rem];
  }
  .title2 {
    @apply font-bold leading-[1.5rem] text-[1.25rem] lg:leading-[2rem] lg:text-[1.75rem];
  }
  .title3 {
    @apply font-bold leading-[1.5rem] text-[1.125rem] lg:leading-[2rem] lg:text-[1.5rem];
  }
  .title4 {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.5rem] lg:text-[1rem];
  }
  .subtitle1 {
    @apply font-semibold leading-[1.5rem] text-[1rem] lg:leading-[1.5rem] lg:text-[1.25rem];
  }
  .subtitle2 {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.25rem] lg:text-[0.875rem];
  }
  .subtitle3 {
    @apply font-semibold leading-[1rem] text-[0.75rem] lg:leading-[1.25rem] lg:text-[0.875rem];
  }
  .button1 {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.5rem] lg:text-[1rem];
  }
  .button2 {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.25rem] lg:text-[0.875rem];
  }
  .body1 {
    @apply font-semibold leading-[1.5rem] text-[1.125rem] lg:leading-[1.5rem] lg:text-[1.25rem];
  }
  .body2 {
    @apply font-semibold leading-[1.5rem] text-[1rem] lg:leading-[1.5rem] lg:text-[1.125rem];
  }
  .body3 {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.5rem] lg:text-[1rem];
  }
  .caption {
    @apply font-normal leading-[1.25rem] text-[0.875rem] lg:leading-[1.25rem] lg:text-[0.875rem];
  }
  .placeholder {
    @apply font-semibold leading-[1.25rem] text-[0.875rem] lg:leading-[1.5rem] lg:text-[1rem];
  }
  .badge {
    @apply font-semibold leading-[0.75rem] text-[0.625rem] lg:leading-[0.75rem] lg:text-[0.625rem];
  }
  .en_title1 {
    @apply font-bold leading-[24px] text-[20px] lg:leading-[32px] lg:text-[28px];
  }
  .en_title2 {
    @apply font-bold leading-[24px] text-[18px] lg:leading-[32px] lg:text-[24px];
  }
  .en_title3 {
    @apply font-bold leading-[24px] text-[16px] lg:leading-[24px] lg:text-[20px];
  }
  .en_title4 {
    @apply font-semibold leading-[20px] text-[14px] lg:leading-[24px] lg:text-[16px];
  }
  .en_subtitle1 {
    @apply font-medium leading-[24px] text-[16px] lg:leading-[24px] lg:text-[18px];
  }
  .en_subtitle2 {
    @apply font-medium leading-[24px] text-[14px] lg:leading-[24px] lg:text-[16px];
  }
  .en_subtitle3 {
    @apply font-medium leading-[16px] text-[12px] lg:leading-[20px] lg:text-[14px];
  }
  .en_button1 {
    @apply font-semibold leading-[20px] text-[14px] lg:leading-[24px] lg:text-[16px];
  }
  .en_button2 {
    @apply font-semibold leading-[20px] text-[14px] lg:leading-[20px] lg:text-[14px];
  }
  .en_body1 {
    @apply font-medium leading-[24px] text-[18px] lg:leading-[24px] lg:text-[20px];
  }
  .en_body2 {
    @apply font-medium leading-[24px] text-[16px] lg:leading-[24px] lg:text-[18px];
  }
  .en_body3 {
    @apply font-medium leading-[20px] text-[14px] lg:leading-[24px] lg:text-[16px];
  }
  .en_caption {
    @apply font-medium leading-[20px] text-[14px] lg:leading-[20px] lg:text-[14px];
  }
  .en_placeholder {
    @apply font-semibold leading-[20px] text-[14px] lg:leading-[24px] lg:text-[16px];
  }
  .en_badge {
    @apply font-semibold leading-[12px] text-[10px] lg:leading-[12px] lg:text-[10px];
  }
}
